@model List<GetUrlVM>;

@{
    ViewData["Title"] = "All Short Links";
}

<div class="container">
    <a  class="btn btn-outline-success"
    asp-action="Index"
    asp-controller="Home">
    Add New
</a>
</div>
<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
            <th scope="col">Id</th>
            <th scope="col">Original Url</th>
            <th scope="col">Short Url</th>
            <th scope="col">Clicks</th>
            <th scope="col">User</th>
            <th scope="col">Options</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var url in Model)
            {
                <tr>
                    <td>@url.Id</td>
                    <td>@url.OriginalLink</td>
                    <td>@url.ShortLink</td>
                    <td>@url.NoOfClicks</td>
                    <td>@url.NoOfClicks</td>
                    <td>
                        <a class="btn btn-outline-danger"
                           asp-controller="Url"
                           asp-action="Remove"
                        asp-route-id="@url.Id">
                            Remove
                        </a>
                        <a class="btn btn-outline-danger"
                           asp-controller="Url"
                           asp-action="Remove"
                           asp-route-userId="@url.UserId"
                        asp-route-linkId="@url.Id">
                            Remove With 2 Parameters
                        </a>
                       @*  <a class="btn btn-outline-danger" href="/Url/Remove?linkIdToRemove=@url.Id">                           
                            Remove old
                        </a> *@
                    </td>
                </tr>
            }           
        </tbody>
    </table>
</div>